<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="logDirectory" value="C:\INTEG\WebSocketTool"/>
  
  <targets>
    <target name="singleFile" type="File" fileName="${logDirectory}\WebSocketTool.log" layout="${longdate} [${level} | ${logger}] - ${message}"
        maxArchiveFiles="9" archiveNumbering="Rolling" archiveAboveSize="524288" archiveFileName="${logDirectory}\Backups\WebSocketTool.{#}.log" />
    <target name="fileByLevel" type="File" fileName="${logDirectory}\WebSocketTool-${level}.log" layout="${longdate} [${logger}] - ${message}"
        maxArchiveFiles="9" archiveNumbering="Rolling" archiveAboveSize="524288" archiveFileName="${logDirectory}\Backups\WebSocketTool-${level}.{#}.log" />
    <target name="fileByLogger" type="File" fileName="${logDirectory}\WebSocketTool-${logger}.log" layout="${longdate} [${level}] - ${message}"
        maxArchiveFiles="4" archiveNumbering="Rolling" archiveAboveSize="524288" archiveFileName="${logDirectory}\Backups\WebSocketTool-${logger}.{#}.log" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Debug" writeTo="fileByLevel" />
    <logger name="*" minlevel="Debug" writeTo="fileByLogger" />
    <logger name="*" minlevel="Info" writeTo="singleFile" />
  </rules>

</nlog>